
/* ---------- Overall Specifications ---------- */

body,
body.overlay {
  color: #666;
}

#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #FCFBF8;
}

#page-wrapper {
  background: #007600;
}

a {
  color: #206BA4;
}
a:hover,
a:focus {
  color: #666;
}
a:active {
  color: #666;
}

h1 {
  color: #3394D6;
}

tr.odd {
  background-color: #F7F5EC;
}

code {
  background-color: #F7F5EC;
}

kbd {
  background-color: #F2F2F2;
  border: 1px outset #575757;
  color: #666;
}

pre {
  background-color: #F7F5EC;
}

li a.active {
  color: #666;
}

ul li.collapsed {
  list-style-image: url(../images/menu-collapsed.png);
}

ul li.expanded {
  list-style-image: url(../images/menu-expanded.png);
}

/* ------------------ Reset Styles ------------------ */

blockquote {
  background: #F7F5EC;
  border-left: 1px solid #D5D2B8; /* LTR */
}

blockquote:before {
  color: #BBB;
}

blockquote:after {
  color: #BBB;
}

/* ------------------ Table Styles ------------------ */

table tr th {
  background: #206BA4;
}

table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
}

tr td,
tr th {
  border: 1px solid #206BA4;
}

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #BEDF5D;
}

tr.odd {
  background: #FCFBF8;
}

tr,
tr.even {
  background: #EBF4FA;
}

td.active {
  background-color: #DDEDF7;
}

/* ------------------ Header ------------------ */

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  color: #FFF;
}

#header {
  background: #D6EB9A;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B8DC51), to(#D6EB9A));
  background: -moz-linear-gradient(-90deg, #B8DC51, #D6EB9A);
  background: linear-gradient(#B8DC51, #D6EB9A);
  background-image: -o-linear-gradient(top,rgb(184,220,81),rgb(214,235,154));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B8DC51, endColorstr=#D6EB9A)";
}

.region-header,
.region-header a,
.region-header li a.active,
#secondary-menu-links li a {
  color: #008000;
}

#name-and-slogan,
#name-and-slogan a {
  color: #008000;
  padding-top: 25px;
}

#site-name {
  color: #008000;
  font-size: 2em;
}

#site-name a {
  color: #008000;
  text-decoration: none;
}

#site-slogan {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 5px;
  word-spacing: 0.1em;
}

/* Region header blocks. */

.region-header .form-text {
  background: #EEF9CD;
  border-color: #D6EB9A;
}

.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #FFF;
}

.region-header .form-required {
  color: #008000;
}

/* Region header block menus. */

.region-header .block-menu {
  border: none;
}

.region-header .block-menu li a {
  border-bottom: none;
}

.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  background: none;
  text-decoration: underline;
}

/* User Login block in the header region */

.region-header #block-user-login input.form-submit {
  background: #EEF9CD;
  border: 1px solid #D6EB9A;
}

.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #FFF;
}

/* --------------- Main Menu ------------ */

#main-menu-links a {
  color: #007600;
  background: #BEDF5D;
  float: left; /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: none;
  -khtml-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #ACD631;
}

#main-menu-links a:active {
  color: #000;
  background: #FCFBF8;
}

.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #F7F5EC;
}

/* ----------------- Featured ----------------- */

#featured {
  background: #F7F5EC;
  border-bottom: 2px solid #FFBF80;
  text-shadow: none;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #E7E4D3;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #777;
}

/* ----------------- Content ------------------ */

.node-teaser h2 a {
  color: #3394D6;
}

.node-teaser {
  border-bottom: 1px solid #E7E4D3;
}

.node-sticky {
  background: #FCFBF8;
  border: 1px solid #E7E4D3;
}

.node-full {
  background: none;
  border: none;
}

.submitted .user-picture img {
  border: 1px solid #F1EFE2;
  float: left;
  height: 35px;
  margin: 1px 8px 5px 0;
  padding: 5px;
}

.meta {
  color: #727272;
  margin-bottom: 35px;
}

ul.links {
  color: #666;
}

div.field-type-taxonomy-term-reference {
  background: url(../images/tag_blue.png) no-repeat 0 2px;
  padding: 0 0 5px 22px;
}

.node-forum div.field-type-taxonomy-term-reference {
  background: none;
  padding: 0;
}

.node-unpublished .comment-text .comment-arrow {
  border-color: #FCFBF8;
}

/* ----------------- Comments ----------------- */

.comment .attribution img {
  border: 1px solid #F1EFE2;
  height: 40px;
  margin: 0;
  padding: 5px;
}

.comment .submitted .comment-time {
  color: #777;
  font-size: 0.786em;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-color: #FCFBF8;
}

.comment .comment-text {
  border: 1px solid #F1EFE2;
}

.comment-unpublished {
  background-color: #F7F5EC;
}


/* ------------------ Sidebar ----------------- */

.sidebar .block {
  border: 1px solid #E7E4D3;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
}

.sidebar h2 {
  border-bottom: 1px solid #1E69A0;
  color: #1E69A0;
  font-weight: bold;
  text-shadow: none; 
}

.sidebar tr.even,
.sidebar tr.odd {
  border-bottom: 1px solid #1E69A0;
}

#block-search-form .form-item-search-block-form input {
  width: 8.6em;
}

/* ----------------- Custom Sidebar blocks ---------------- */

/* -- Skinr doesn't provide a way to style the User
      Login block, so this will provide a basic style. ---- */

#block-user-login {
  background-color: #EBF4FA;
  border: 4px solid #BBD9EE;
}
      

/* ----------------- Triptych ----------------- */

#triptych-wrapper a {
  color: #005200;

}

#triptych-wrapper {
  background: #FFBF80;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFBF80), to(#FF9834));
  background: -moz-linear-gradient(-90deg, #FFBF80, #FF9834);
  background: linear-gradient(#FFBF80, #FF9834);
  background-image: -o-linear-gradient(bottom,rgb(255,152,52),rgb(255,191,138));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFBF80, endColorstr=#FF9834)";
  border-top: 0;
}

#triptych h2 {
  color: #008000;
  line-height: 1em;
  text-shadow: none;
}

#triptych #block-user-online p {
    margin-bottom: 0.25em;;
}

#triptych .block {
  border-bottom: 1px solid #00A400;
  margin-bottom: 1.5em;
  padding-bottom: 1em;  
}

#triptych .region {
  color: #005200;  
}

.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 0 20px 0;
  width: 280px;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
  background: #007600;
  color: #E7E4D3;
  font-size: 0.857em;
  padding: 10px 5px 20px 5px;
}

#footer-wrapper a {
  color: #F1EFE2;
}

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  text-decoration: underline;
}

#footer-wrapper .block {
  border: 2px solid #BEDF5D;
  margin: 20px 0;
  padding-bottom: 15px;  
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;   
}

#footer-columns h2 {
  border-bottom: 1px solid #D6EB9A;
  color: #D6EB9A;
  font-size: 1.3em;
  margin-top: 0;
  text-transform: none;
}

#footer-columns p {
  line-height: 1em;
  margin-bottom: .25em;
  margin-top: 1em;
}

#footer-columns .content li {
  list-style: none;
  line-height: 1.5em;
  margin: 0;
  padding: .4em 0 0 0;
}

#footer-columns .content li a {
  display: inline;
  border-bottom: none;
  line-height: 1.5em;
  padding: 0 0 0 0;
  text-indent: -15px;
}

#footer-columns .content li.last a {
  border-bottom: none;
}

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: transparent;
  text-decoration: underline;
}

#footer {
  border-top: 1px solid #BEDF5D;
}

#footer li a {
  border-right: 1px solid #BEDF5D; /* LTR */
}

#footer-wrapper tr.even {
  background-color: #EBF4FA;
}

#footer-columns .block-menu, #footer .block {
  border: none;
}

/* --------------- System Tabs  --------------- */

.tabs ul.primary {
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}

.tabs ul.primary li a {
  color: #FCFBF8;
  background-color: #206BA4;
  border-color: #206BA4;
  text-shadow: none;
}

.tabs ul.primary li.active a {
  color: #206BA4;
}

.tabs ul.secondary li a.active {
  background: #FCFBF8;
  color: #206BA4;
}

ul.action-links li a {
  background: url(../images/add.png) no-repeat left center;
}

/* ---------------- Messages  ----------------- */

.featured #messages {
  background: #F7F5EC;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #D5D2B8;
  border: 1px solid #777;
  border-bottom: 1px solid #777;
  border-left-color: #777;
  border-right-color: #777;
  color: #000;
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  color: #555;
}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #FCFBF8;
  border: 1px solid #AAA;
}

fieldset legend {
  background: #206BA4;
  border: 1px solid #AAA;
  color: #FFF;
  text-shadow: none;
}

fieldset legend a {
  color: #fff;
}

fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #FFF;
}

fieldset .fieldset-description {
  color: #666;
}

.resizable-textarea .grippie {
  background-color: #E7E4D3;
  border: 1px solid #666;
}

input.form-text,
textarea.form-textarea,
select.form-select {
  background: #FCFBF8;
  border: 1px solid #AAA;
  color: #111;
}

input.form-submit:hover,
input.form-submit:focus {
  background: #E7E4D3;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */

html.js fieldset.collapsible .fieldset-legend {
  background: url(../images/admin-menu-expanded.png) 5px 65% no-repeat; /* LTR */
  padding-left: 15px; /* LTR */
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../images/admin-menu-collapsed.png); /* LTR */
  background-position: 5px 50%; /* LTR */
}

/* Disabled form elements */

input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #EDEDED;
  border-color: #BBB;
  color: #717171;
}

.form-disabled .grippie {
  background-color: #ededed;
  border-color: #BBB;
}

.form-disabled label {
  color: #717171;
}

/* -------------- Other Overrides ------------- */

.ui-widget-overlay {
  background: #222;
}

/* --------------- Search Form ---------------- */

#search-block-form input.form-submit,
#search-form input.form-submit {
  background: url(../images/search-button.png) no-repeat center top;
  border-color: #444;
}

/* --------------- Search Results ---------------- */

.search-results li {
  border-bottom: 1px solid #444;
}

.search-results li:last-child {
  border-bottom: none;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin-structure-block-demo .block-region {
  background: #FF6;
  border: 1px dotted #9F9E00;
  color: #000;
}

/* Configuration. */

div.admin-panel {
  color: #444;
  background: #F7F5EC;
  border: 1px solid #444;
}

div.admin-panel dt {
  border-top: 1px solid #666;
}

/* ---------- Overlay ----------- */

#overlay-content {
  background: #292929;
  color: #EDEDED;
}

#overlay-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited {
  background-color: #292929;
  color: #EDEDED;
}

/* ---------- Poll ----------- */

.poll .bar {
  background-color: #E7E4D3;
}

.poll .bar .foreground {
  background-color: #3394D6;
}

#triptych-wrapper .poll .bar {
  background-color: #F7F5EC;
}

#triptych-wrapper .poll .bar .foreground {
  background-color: #BEDF5D;
}

#footer-wrapper .poll .bar {
  background-color: #F1EFE2;
}

#footer-wrapper .poll .bar .foreground {
  background-color: #BEDF5D;
}

/* ---------- Vertical tabs ----------- */

div.vertical-tabs {
  border: 1px solid #AAA;
}

.vertical-tabs ul.vertical-tabs-list {
  border-color: #AAA;
}

.vertical-tabs ul.vertical-tabs-list li {
  background: #F7F5EC;
  border: 1px solid #AAA;
  border-top: none;
}

.vertical-tabs ul.vertical-tabs-list li a:hover {
  background-color: #E7E4D3;
}

.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #FCFBF8;
}

.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #206BA4;
}

/* -------------------- Custom ------------------ */
